<dx-popup
  [(visible)]="isPopupVisible"
  [hideOnOutsideClick]="true">
  <!-- ... -->
  <div id="form-container">
    <dx-form id="form" [formData]="employee" [colCount]="2">
        <dxi-item itemType="tabbed" [colSpan]="2">
          <dxo-tab-panel-options [deferRendering]="false">
          </dxo-tab-panel-options>
          <dxi-tab title="Phone">
            <dxi-item dataField="Phone"></dxi-item>
          </dxi-tab>
          <dxi-tab title="Skype">
            <dxi-item dataField="Skype"></dxi-item>
          </dxi-tab>
          <dxi-tab title="Email">
           <div style="display: block; height: 600px; width: 100px; background: red"></div>
            <dxi-item dataField="Email"></dxi-item>
          </dxi-tab>
        </dxi-item>
    </dx-form>
  </div>
</dx-popup>
<dx-button
  text="Open popup"
  (onClick)="togglePopup()">
</dx-button>
